@font-face {
  font-family: "Museo Slab 500";
  src: url("../fonts/fontOne/MuseoSlab-500.eot");
  src: url("../fonts/fontOne/MuseoSlab-500.eot?#iefix") format("embedded-opentype"), url("../fonts/fontOne/MuseoSlab-500.woff2") format("woff2"), url("../fonts/fontOne/MuseoSlab-500.woff") format("woff"), url("../fonts/fontOne/MuseoSlab-500.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Niconne";
  src: url("../fonts/fontTwo/Niconne-Regular.eot");
  src: url("../fonts/fontTwo/Niconne-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/fontTwo/Niconne-Regular.woff2") format("woff2"), url("../fonts/fontTwo/Niconne-Regular.woff") format("woff"), url("../fonts/fontTwo/Niconne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nimbus Sans L";
  src: url("../fonts/fontThree/NimbusSanL-Reg.eot");
  src: url("../fonts/fontThree/NimbusSanL-Reg.eot?#iefix") format("embedded-opentype"), url("../fonts/fontThree/NimbusSanL-Reg.woff2") format("woff2"), url("../fonts/fontThree/NimbusSanL-Reg.woff") format("woff"), url("../fonts/fontThree/NimbusSanL-Reg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/fontFour/Raleway-Thin.woff2") format("woff2"), url("Raleway-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@keyframes logoChange {
  0% {
    opacity: 0.3;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
  }
}
body header .contHeader .navHeader, body footer .footerSocialMedia .socialMedia, body header .contHeader .socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
}

body footer .footerSocialMedia, body footer, body main .aboutMainHeaderSection, body header .contHeader .hamburgerMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body header .contHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body footer .footerSocialMedia .socialMedia, body header .contHeader .socialMedia {
  gap: 10px;
}
body footer .footerSocialMedia .socialMedia img, body header .contHeader .socialMedia img {
  width: 24px;
}
body footer .footerSocialMedia .socialMedia .btnSocial, body header .contHeader .socialMedia .btnSocial {
  cursor: pointer;
}

body main .aboutMainHeaderSection, body main {
  width: 100%;
  height: 100%;
}

body main {
  max-width: 940px;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  background-image: url(https://static.wixstatic.com/media/05e3dc_9a652459a41748d1bba89f5918d38055.jpg/v1/fill/w_1920,h_560,al_c,q_85,enc_auto/05e3dc_9a652459a41748d1bba89f5918d38055.jpg);
  font-family: "Nimbus Sans L";
}
body header {
  width: 100%;
  height: 85px;
  background-image: url(https://static.wixstatic.com/media/05e3dc_9a652459a41748d1bba89f5918d38055.jpg/v1/fill/w_1920,h_560,al_c,q_85,enc_auto/05e3dc_9a652459a41748d1bba89f5918d38055.jpg);
  display: flex;
  align-items: center;
  overflow: hidden;
  position: sticky;
  top: 0px;
  z-index: 999;
}
body header .contHeader {
  width: 100%;
  max-width: 75%;
  margin: 0 auto;
}
body header .contHeader .navHeader {
  gap: 40px;
}
@media (max-width: 1080px) {
  body header .contHeader .navHeader {
    display: none;
  }
}
body header .contHeader .navHeader .btnHeader {
  opacity: 0.5;
  cursor: pointer;
}
body header .contHeader .navHeader .btnHeader a {
  text-decoration: none;
  color: #ffffff;
}
body header .contHeader .navHeader .btnHeader:hover {
  transition: 0.5s ease;
  opacity: 1;
}
body header .contHeader .navHeader .active {
  opacity: 1;
}
body header .contHeader .hamburgerMenu {
  display: none;
  gap: 7px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
body header .contHeader .hamburgerMenu .menuLines {
  background-color: #ffffff;
  width: 22px;
  height: 2px;
}
@media (max-width: 1080px) {
  body header .contHeader .hamburgerMenu {
    display: flex;
  }
}
body header .contHeader .logIn {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffff;
  cursor: pointer;
}
@media (max-width: 1080px) {
  body header .contHeader .logIn {
    display: none;
  }
}
body main {
  margin: 0 auto;
  color: #ffffff;
  overflow: hidden;
  font-family: "Raleway";
}
body main .aboutMainHeaderSection {
  font-family: "Nimbus Sans L";
  font-size: 50px;
  color: #ffffff;
  margin: 150px 0px;
  gap: 15px;
}
body main .aboutMainHeaderSection .downTriangle {
  cursor: pointer;
  rotate: 180deg;
}
body main .aboutContainer {
  display: flex;
  gap: 20px;
  margin: 0 auto;
}
@media (max-width: 1080px) {
  body main .aboutContainer {
    flex-direction: column;
    max-width: 500px;
  }
}
@media (max-width: 430px) {
  body main .aboutContainer {
    padding: 0px 5px;
  }
}
body main .aboutContainer .about {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 50px;
}
body main .aboutContainer .about .aboutTop {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
body main .aboutContainer .about .aboutTop h3 {
  font-size: 23px;
}
body main .aboutContainer .about .aboutTop span {
  font-size: 17px;
}
body main .aboutContainer .about .aboutBottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 15px;
}
body main .aboutContainer .aboutImage img {
  max-width: 450px;
  width: 100%;
}
body footer {
  gap: 40px;
  margin: 25px 0px 15px 0px;
  color: #ffffff;
  overflow: hidden;
}
@media (max-width: 430px) {
  body footer {
    padding: 0px 20px;
  }
}
body footer .upTriangle {
  cursor: pointer;
}
body footer .footerSocialMedia {
  gap: 10px;
}/*# sourceMappingURL=styles-about.css.map */